html{
	font-size:10px;
}

fieldset{
	width:30%;
	padding:2rem;
	font-size:2rem;
	border-radius:1rem;
	margin: 5rem auto;
}
#inputInfo{
	margin-left:20%;
	margin-right:2rem;
	outline: none;
}
#searchInfo{
	width:10%;
}
.child{
/*	border:1px solid lightgreen;   如果有人参考我的布局思路的话，把这句加上应该就懂了*/   
	padding-left:3rem;
}
.arrow-down{
	display:inline-block;
	width:1.5rem;
	height:1.5rem;
	background:url('../images/25-unfold.png');
	background-repeat: no-repeat;
}
.arrow-right{
	display:inline-block;
	width:1.5rem;
	height:1.5rem;
	background:url('../images/25-fold.png');
	background-repeat: no-repeat;
}
.hidden{
	display:none;
}
.show{
	display:block;
}
/*.addBut{
	display:inline-block;
	visibility: hidden;
	margin-left:1rem;
	width:2rem;
	height:1.5rem;
	background:url('../images/25-add.png');
	background-repeat:no-repeat;
}*/
.delBut{
	display:inline-block;
	margin-left:1rem;
	width:1.5rem;
	height:1.5rem;
	background:url('../images/25-delete.png');
	background-repeat:no-repeat;
}

span{
	position:relative;
	top:0.2rem;
}
