*{
	padding: 0;
	margin: 0;
}

.wrap{
	display: table;
	width: 100%;
}
.row{
	display: table-row;	
	width: 100%;
}

.row div{
	
	background-color: #eee;
	border: solid 1px #999;
	height: 50px;
	margin: 10px;
	display:inline-block;
}
@media (min-width:769px){
	.col-md-1{
		width:calc(8.333% -  22px);
	}
	.col-md-2{
		width:calc(16.666% -  22px);
	}
	.col-md-3{
		width:calc(25% -  22px);
	}
	.col-md-4{
		width:calc(33.333% - 22px);
	}
	.col-md-6{
		width:calc(50% - 22px);
	}
}

@media (max-width:768px){
	.col-sm-2{
		width:calc(16.666% -  22px);
	}
	.col-sm-3{
		width:calc(25% -  22px);
	}
	.col-sm-6{
		width:calc(50% - 22px);
	}
	.col-sm-8{
		width:calc(66.666% - 22px);
	}
	.col-sm-12{
		width:calc(100% - 22px);
	}
}
